@import 'kelp-packet';

p {
  margin: 0;
  margin-bottom: 1em;
}

.k-button {
  display: inline-block;
  padding: 8px 16px;
  margin: 0;
  border: 1px solid kelp-color(primary);

  background: none;
}

.k-button.is-disabled {
  cursor: not-allowed;
}
