

.k-inputGroup {
  @include K-flex-row();
  flex-wrap: wrap;
}

// Unfortunately, consumer developers are unable to change classes. They may
// override the flex settings. Stylings should be set on the base item (and not modifiers) much as possible.
.k-inputGroup__item {
  @include K-flexItem-auto;
}
// primary flex modifiers
// .k-inputGroup__item--full {
//   flex: 12 0 100%;
// }
// .k-inputGroup__item--addon {
//   flex: 0 0 auto;
// }

// auxiliary position modifiers
.k-inputGroup__item--flexEnd {
  align-self: flex-end;
}
.k-inputGroup__item--flexStart {
  align-self: flex-start;
}
.k-inputGroup__item--tag,
.k-inputGroup__item--tagFlat,
.k-inputGroup__item--tagMin {
  align-items: center;
  display: flex;
}


// border radius is a part of the core kelp so that widget developers will
// remember to use the correct radius for special cases such as multi-line inputGroups
.k-inputGroup__item {
  border-radius: 0;
}
.k-inputGroup__item:first-child {
  border-top-left-radius: $k-details-borderRadiusSmall;
  border-bottom-left-radius: $k-details-borderRadiusSmall;
}
.k-inputGroup__item:last-child {
  border-top-right-radius: $k-details-borderRadiusSmall;
  border-bottom-right-radius: $k-details-borderRadiusSmall;
}
