// s-buttonGroup usage:
// <div class="s-buttonGroup">
//   <span class="s-button">A</span>
//   <span class="s-button">B</span>
//   <span class="s-button">C</span>
// </div>

.s-buttonGroup {
  @include S-flex-row;
}

// make sure spacing is correct
.s-buttonGroup > .s-button:not(:last-child),
.s-buttonGroup__wrapper:not(:last-child) {
  margin-right: -1px;
}

.s-buttonGroup .s-button,
.s-buttonGroup__wrapper .s-button {
  border-radius: 0;
}
.s-buttonGroup > .s-button:first-of-type,
.s-buttonGroup__wrapper:first-of-type .s-button {
  border-radius: $s-var-radius 0 0 $s-var-radius;
}
.s-buttonGroup > .s-button:last-of-type,
.s-buttonGroup__wrapper:last-of-type .s-button {
  border-radius: 0 $s-var-radius $s-var-radius 0;
}

.s-buttonGroup__radio {
  display: none;
}


// .s-buttonGroup can be used with radiobutton inputs. This will allow toggling
// of buttons using pure css

// Usage #1: input nested inside label
// This approach is simpler and does not require management of the "id" and the
// "for" attribute
// <div class="s-buttonGroup">
//   <label class="s-buttonGroup__wrapper">
//     <input type="radio" class="s-buttonGroup__radio" name="network" value="A" checked>
//     <span class="s-button">A</span>
//   </label>
//   <label class="s-buttonGroup__wrapper">
//     <input type="radio" class="s-buttonGroup__radio" name="network" value="B" checked>
//     <span class="s-button">B</span>
//   </label>
//   <label class="s-buttonGroup__wrapper">
//     <input type="radio" class="s-buttonGroup__radio" name="network" value="C" checked>
//     <span class="s-button">C</span>
//   </label>
// </div>

// Usage #2: input adjacent to label
// This approach does not nest the input meaning that one must make sure the
// "id" and "for" attribute match. Some say it is better to do it this way due
// to accessibility concerns
// <div class="s-buttonGroup">
//   <input type="radio" class="s-buttonGroup__radio" id="radio_a" name="network" value="A">
//   <label class="s-button" for="radio_a">A</label>
//
//   <input type="radio" class="s-buttonGroup__radio" id="radio_b" name="network" value="B">
//   <label class="s-button" for="radio_b">B</label>
//
//   <input type="radio" class="s-buttonGroup__radio" id="radio_c" name="network" value="C">
//   <label class="s-button" for="radio_c">C</label>
// </div>
