.s-buttonGroup {
  display: flex;
  flex-direction: row;
}
.s-buttonGroup .s-button:not(:last-child) {
  margin-right: -1px;
}


.s-buttonGroup .s-button {
  border-radius: 0;
}
.s-buttonGroup .s-button:first-child {
  border-radius: $s-details-borderRadiusSmall 0 0 $s-details-borderRadiusSmall;
}
.s-buttonGroup .s-button:last-child {
  border-radius: 0 $s-details-borderRadiusSmall $s-details-borderRadiusSmall 0;
}
