// General base stylings
input,
select,
.k-button {

  // padding top-bottom: (1.333[..]^2*18-18-2)/2/18
  // padding left and right: we don't want it to scale when font size is bigger so that it lines up
  padding: 0.3333em 12px;
  margin: 0;
  border: 1px solid $kColor-F;

  border-radius: 0;
  background: #fff;
}


// Base form stylings
input {
  border: none;
  -webkit-appearance: none;
  line-height: 1.5;
  border: 1px solid $kColor-F;
}
select {
  -webkit-appearance: none;
}

.k-button {
  // we DO want it to scale with font size zome times.
  padding: 0.3333em 0.6666em;
}

.k-button:focus,
input:focus,
select:focus {
  // to make a glow, use box-shadow

  box-shadow: 0 0 2px $kColor-A;
  border: 1px solid $kColor-A;
  outline: none;
}
