@import 'kelp-packet';

p {
  margin: 0;
  margin-bottom: 1em;
}

// Some button styles in the common forms.base to consolidate properties
.k-button {
  display: inline-block;
  margin: 0;
  // background: none;
}

.k-button.is-disabled {
  cursor: not-allowed;
}
