// special sizes
.K-flexItem-none { @include K-flexItem-none; } // flex: 0 0 auto;
.K-flexItem-share { @include K-flexItem-share; } // flex: 12 0 0%;

// auto sizes
.K-flexItem-auto { @include K-flexItem-auto; } // flex: 12 0 auto;
.K-flexItem-1 { @include K-flexItem-1; } // flex: 1 0 auto;
.K-flexItem-2 { @include K-flexItem-2; } // flex: 2 0 auto;
.K-flexItem-3 { @include K-flexItem-3; } // flex: 3 0 auto;
.K-flexItem-4 { @include K-flexItem-4; } // flex: 4 0 auto;
.K-flexItem-6 { @include K-flexItem-6; } // flex: 6 0 auto;
.K-flexItem-8 { @include K-flexItem-8; } // flex: 8 0 auto;
.K-flexItem-10 { @include K-flexItem-10; } // flex: 10 0 auto;

// main sizes
.K-flexItem-full { @include K-flexItem-full; } // flex: 12 0 100%;
.K-flexItem-1of2 { @include K-flexItem-1of2; } // flex: 0 0 50%;
.K-flexItem-1of3 { @include K-flexItem-1of3; } // flex: 0 0 33.33333%;
.K-flexItem-1of4 { @include K-flexItem-1of4; } // flex: 0 0 25%;
.K-flexItem-1of5 { @include K-flexItem-1of5; } // flex: 0 0 20%;
.K-flexItem-1of6 { @include K-flexItem-1of6; } // flex: 0 0 16.66666%;
.K-flexItem-1of12 { @include K-flexItem-1of12; } // flex: 0 0 8.33333%;



// Old deprecated stuff
// flex parents
// .K-flex-row {
//   @include K-flex-row;
// }
// .K-flex-col {
//   @include K-flex-col;
// }

// flex children
// .K-flex-grow {
//   flex-grow:  12;
// }

// .K-flex-item { @include K-flex-item(); }
// .K-flex-2 { flex: 2; }
// .K-flex-4 { flex: 4; }
// .K-flex-6 { flex: 6; }
// .K-flex-8 { flex: 8; }
// .K-flex-10 { flex: 10; }
// .K-flex-12 { flex: 12; }

// I think we should only limit it to numbers less than 12
// .kelp-flex-18 { flex: 18; }
// .kelp-flex-24 { flex: 24; }
// .kelp-flex-36 { flex: 36; }
// .kelp-flex-48 { flex: 48; }
