
// flex parents
.kelp-flex-row {
  @include kelp-flex-row(12);
}
.kelp-flex-col {
  @include kelp-flex-col(12);
}

// flex children
.kelp-flex-grow {
  flex-grow:  12;
}

.kelp-flex-item { @include kelp-flex-item(); }
.kelp-flex-2 { flex: 2; }
.kelp-flex-4 { flex: 4; }
.kelp-flex-6 { flex: 6; }
.kelp-flex-8 { flex: 8; }
.kelp-flex-10 { flex: 10; }
.kelp-flex-12 { flex: 12; }

// I think we should only limit it to numbers less than 12
// .kelp-flex-18 { flex: 18; }
// .kelp-flex-24 { flex: 24; }
// .kelp-flex-36 { flex: 36; }
// .kelp-flex-48 { flex: 48; }
