
// some svg images we can use later

@function kInlineImage-caret-down($fillColor) {
  @return url('data:image/svg+xml;utf8,<svg width="14" height="8" viewBox="0 0 14 8" xmlns="http://www.w3.org/2000/svg" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns"><path d="M0 0l7 8 7-8h-14z" sketch:type="MSShapeGroup" fill="#{$fillColor}"/></svg>');
}


// general forms
.k-button,
input,
select {
  // padding top/bottom: (1.333[..]^2*18-18-2)/2/18
  // Then, adjusted to be more balanced since equal top/bottom would have balance on the top
  padding: 0.35em 0.6666em 0.3166em 0.6666em;
  margin: 0;
  border: 1px solid $kColor-F;

  border-radius: 0;
  background: #fff;
}


select {
  padding-right: 28px; // 14 + 7*2 space so the text does not collide with the caret

  cursor: pointer;
  background: #fff
    kInlineImage-caret-down($kColor-F)
    no-repeat
    calc(100% - 7px) 50%
    ;
}

// Accessibility :hover glow
.k-button:hover,
input:hover,
select:hover {
  box-shadow: 0 0 3px $kColor-F;
}

// Accessibility :focus glow
.k-button:focus,
input:focus,
select:focus {
  position: relative;
  z-index: 2;

  box-shadow: 0 0 3px $kColor-A;
  border: 1px solid $kColor-A;
  outline: none;
}

// k-form
.k-form {
}

// k-inputGroup
.k-inputGroup {
  margin-bottom: 0.3333em;
}

// We want things to line up in an input group when things get bigger
.k-inputGroup input,
.k-inputGroup select,
.k-inputGroup .k-button {
  // padding left and right: in inputGroups, even the big items should line up
  padding-left: 12px;
  padding-right: 12px;
}

// reapply the padding on selects
.k-inputGroup select {
  padding-right: 28px;
}
